body {
    background-color: #DFD7E2;
    font-family: Helvetica, sans-serif;
}

input:focus, textarea:focus{
    outline-color: #DFD7E2;
}

h1{
    color: #13505B;
    width: 625px;
    height: ;
    text-align: right;
    padding: 0 0 5px 0;
    margin-right:auto;
    margin-left: auto;
}

#header {
    color: #13505B;
    width: 560px;
    height: ;
    text-align: right;
    padding: 0 0 5px 0;
    margin-right:auto;
    margin-left: auto;
}

hr{
    border-color: #13505B;
    border-width: 2px;
}

#form {
	width: 475px;
	margin: auto;
	padding: 25px;
    background-color: #0C7489;
    border: 1px solid #0C7489;
    border-radius: 5px;
}

label {
    color: #E1FFFF;
    margin: 5px;
}

p {
	font-size: 12px;
	margin: 5px;
    color: #E1FFFF;
}

#imgAnchor{
    color:#E1FFFF !important;
    text-decoration: underline;
}
textarea {
	width: 400px;
    height: 200px;
	margin: 10px;
	border: 1px solid #0C7489;
	color: #0C7489;
	border-radius: 5px;
}

#category {
	height: 40px;
}

#title, #price {
	width: 350px;
	height: 25px;
	border: 1px solid #0C7489;
	color: #0C7489;
	border-radius: 5px;
}

#exampleInputFile {
	color: #E1FFFF;
}

.help-block {
    color: #E1FFFF;
}

#submit {
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #0C7489;
	color: #0C7489;
	background-color: #fff;
	border-radius: 5px;
}