body{
    background-color: #DFD7E2;
}

h1 {
    color: #13505B;
}

#post-details {
    float: right;
}

#container_ads{
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

#container_ads{
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

/*pager buttons*/
.pager-buttons {
    background-color: #0C7489;
    color: ;
}

#next_page{
    float: right;
}

#previous_page{
    float: left;
}