body{
    background-color: #DFD7E2;
    font-family: Helvetica, sans-serif;
}

h1{
    color: #13505B;
    width: 500px;
    text-align: left;
    padding: 0 0 5px 0;    
    margin-right:auto;
    margin-left: auto;
}

hr{
    border-color: #13505B;
    border-width: 2px;
}

#errors {
    color: red;
}

.ads-href, .single-ad-details {
    color: #13505B !important;
}

#post-details {
    float: right;
}

#container_ads{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #0C7489;
    border: 1px solid #13505B;
    border-radius: 15px;
    color: #E1FFFF;
}
/*pager buttons*/
#next_page{
    float: right;
}

#previous_page{
    float: left;
}

.edit-button, .delete-button {
    width: 200px;
    height: 100px;
    color: #E1FFFF;
    border-radius: 5px;
    padding: 8px;
}

.edit-button{
    background-color: #0C7489;
    border: 1px solid #0C7489;
}

.delete-button {
    background-color: #13505B;
    border: 1px solid #13505B;
}

.edit-button:hover, .delete-button:hover {
    color: #E1FFFF;
}