# Convert Sass to SCSS
$ sass-convert style.sass style.scss

$font-stack: Helvetica, sans-serif
$font-color: #040404
$background-color: #00A69A

#form{
    border: 1px solid #000;
}
#container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#next_page{
    float: right;
}
#previous_page{
    float: left;
}
#container_ads{
    margin-left: auto;
    margin-right: auto;
    / width: 650px;
}

hr{
    border-color: black;
}